<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="https://use.typekit.net/mno0hnc.css">
	<title>Inno Pacs</title>

	<style>
		* {
			border: 0;
			padding: 0;
		}
	</style>
</head>
<body style="font-family: 'Heebo', sans-serif;
			font-weight: 400;
			line-height: 1.3;
			color: #908A8B;
			background: #E6E6E6;
			position: relative;
			border: 0;
			padding: 0;
			margin: 0;">
	<table width="100%" cellspacing="0" cellpadding="0" style="max-width: 650px;margin:0 auto;" bgcolor="#fafafa">
		<tr>
			<td bgcolor="#3498bd" style="padding: 15px 15px 30px 15px;">
				<h2 style="color:#fff;font-size: 40px; width: 100%; text-align: center; margin-bottom: 16px;
						font-family: a_black, sans-serif;
						font-display:auto;
						font-style:normal;
						font-weight:800;
						line-height: 1.3;">Hola {{patientName}}.</h2>
			</td>
		</tr>
		
		<tr>
			<td align="center" style="padding-bottom: 32px;">
				<p style="font-size: 18px;color:#000;width: 100%;max-width: 500px;margin: 0 auto 16px;text-align: center;margin-top: 28px;margin-bottom: 49px;">Innova pacs ha compartico su estudio medico.</p>
				<a href="{{url}}"
						style="padding: 15px 32px;
						font-size: 18px;
						line-height: 20px;
						background: #3498bd;
						border: none;
						color: white;
						border-radius: 8px;
						text-align: center;
						display: block;
						margin: 0 auto;
						width: 180px;
						text-decoration: none;">Ver estudio</a>
			</td>
		</tr>
		<tr>
			<td style="padding: 16px; padding-bottom: 32px;" align="center" bgcolor="#FFF">
				<p style="color:#ADA7A7; font-size: 14px; margin-bottom: 24px;
						font-family: aileron, sans-serif;
						font-display:auto;
						font-style:normal;
						font-weight:400;">&copy; 2021 InnovaPcas. All right Reserved. <a href="{{termsandconds}}" style="color:#3498bd;">Terms and conditions</a></p>
			</td>
		</tr>
	</table>
</body>
</html>